<CodeSnippets>
  <CodeSnippet>
    <Header>
      <Title>Begin</Title>
      <Shortcut>Begin</Shortcut>
      <Description>Empty BEGIN..END block</Description>
      <Author />
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations />
      <Code><![CDATA[BEGIN
  $CARET$
END]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>