<CodeSnippets>
  <CodeSnippet>
    <Header>
      <Title>Select</Title>
      <Shortcut>sel</Shortcut>
      <Description>SELECT * FROM statement</Description>
      <Author />
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations />
      <Code><![CDATA[SELECT * FROM ]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>