<CodeSnippets>
  <CodeSnippet>
    <Header>
      <Title>SelectCount</Title>
      <Shortcut>SelCount</Shortcut>
      <Description>SELECT counting the number of records</Description>
      <Author />
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations />
      <Code><![CDATA[SELECT COUNT(*) FROM $CARET$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>